DLG_NUMFMT DIALOG FIXED IMPURE 0, 98, 210, 70
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "International - Number Format"
FONT 8, "Helv"
BEGIN
    CONTROL "1000 &Separator:",    -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 6, 70, 9
    CONTROL "",                    IDC_NUMFMT_1000SEP, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 84, 4, 10, 12
    CONTROL "&Decimal Separator:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 20, 70, 9
    CONTROL "",                    IDC_NUMFMT_DECSEP, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 84, 18, 10, 12
    CONTROL "D&ecimal Digits:",    -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 34, 70, 9
    CONTROL "",                    IDC_NUMFMT_DECDIG, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 84, 32, 10, 12
    CONTROL "&Leading Zero:",      -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 52, 52, 9
    CONTROL ".7",                  IDC_NUMFMT_LZ_DOT7, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 64, 50, 30, 12
    CONTROL "0.7",                 IDC_NUMFMT_LZ_0DOT7, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 96, 50, 30, 12
    CONTROL "OK",                  IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 4, 40, 14
    CONTROL "Cancel",              IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 20, 40, 14
END

