/*
 * currency.rc - ресурс для диалога Currency Format (новый)
 */
#include "intl_currency.h"

DLG_CURRFMT DIALOG FIXED IMPURE 0, 98, 210, 70
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "International - Currency Format"
FONT 8, "Helv"
BEGIN
    CONTROL "Symbol &Placement:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 6, 64, 9
    CONTROL "", IDC_CURRFMT_PLACEMENT, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 76, 4, 70, 46
    CONTROL "&Negative:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 22, 64, 9
    CONTROL "", IDC_CURRFMT_NEGATIVE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 76, 20, 70, 46
    CONTROL "&Symbol:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 38, 64, 9
    CONTROL "", IDC_CURRFMT_SYMBOL_EDIT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 76, 36, 24, 12
    CONTROL "&Decimal Digits:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 52, 64, 9
    CONTROL "", IDC_CURRFMT_DIGITS_EDIT, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 76, 50, 10, 12
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 4, 40, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 164, 20, 40, 14
END
