10 DIALOG 0, 0, 160, 107
CAPTION "Task List"
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", 100, "LISTBOX", LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 3, 3, 154, 63
	DEFPUSHBUTTON "&Switch To", IDD_SWITCHTO, 1, 70, 45, 14
	PUSHBUTTON "&End Task", IDD_ENDTASK, 52, 70, 45, 14
	PUSHBUTTON "Cancel", IDCANCEL, 103, 70, 55, 14
	CONTROL "", -1, "Static", SS_BLACKRECT, 0, 87, 160, 1
	PUSHBUTTON "&Cascade", IDD_CASCADE, 1, 90, 45, 14
	PUSHBUTTON "&Tile", IDD_TILE, 52, 90, 45, 14
	PUSHBUTTON "&Arrange Icons", IDD_ARRANGEICONS, 103, 90, 55, 14
END
