#include "taskman.h"

//#include "Bg.rc"
//#include "Cs.rc"
//#include "Da.rc"
//#include "De.rc"
#include "En.rc"
//#include "Eo.rc"
//#include "Es.rc"
//#include "Fi.rc"
//#include "Fr.rc"
//#include "Hu.rc"
//#include "It.rc"
//#include "Ja.rc"
//#include "Ko.rc"
//#include "Nl.rc"
//#include "No.rc"
//#include "Pl.rc"
//#include "Pt.rc"
//#include "Ro.rc"
//#include "Ru.rc"
//#include "Si.rc"
//#include "Sv.rc"
//#include "Th.rc"
//#include "Tr.rc"
//#include "Wa.rc"
//#include "Zh.rc"
