#include <windows.h>
#include "control.h"

MYICON ICON "control.ico"

CTLPANELMENU MENU
BEGIN
    POPUP "&Settings"
    BEGIN
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",          IDM_SETTINGS_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Index",               IDM_HELP_INDEX
        MENUITEM "&Keyboard",            IDM_HELP_KEYBOARD
        MENUITEM "&Commands",            IDM_HELP_COMMANDS
        MENUITEM "&Procedures",          IDM_HELP_PROCEDURES
        MENUITEM "&Using Help",          IDM_HELP_USING_HELP
        MENUITEM SEPARATOR
        MENUITEM "&About Control Panel...", IDM_HELP_ABOUT
    END
END
