/* qpifedit.rc - (C) Copyright 1993 Qualitas, Inc.  GNU General Public License version 3. */

// Due to the fiddly nature of the dialog panes, always edit these dialog
// resources by hand.  Don't use a dialog editor or resource workshop unless
// you really understand what you're doing and you don't expect me to fix it.
// WRL 18 MAR 93

#include <windows.h>

#include "qpifedit.h"

#include "qpifhelp.rc"

#include "cversion.h"
#include <mversion.h>
#include <common.ver>

IDI_QIF 	ICON	qpifedit.ico
IDI_DOSMAX	ICON	dosmax.ico

MenuApp MENU PRELOAD MOVEABLE DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
	MENUITEM "&New",        IDM_F_NEW
	MENUITEM "&Open...",    IDM_F_OPEN
	MENUITEM "&Save",       IDM_F_SAVE
	MENUITEM "Save &As...", IDM_F_SAVEAS
	MENUITEM SEPARATOR
	MENUITEM "E&xit",       IDM_F_EXIT
    END

    POPUP "&Mode"
    BEGIN
	MENUITEM "&Standard",    IDB_GENERAL
	MENUITEM "&386 Enhanced",  IDB_TASK
    END

    POPUP "&Help"
    BEGIN
	MENUITEM "&Overview", IDM_H_OVERVIEW
	MENUITEM "&Search for Help on...", IDM_H_SEARCH
	MENUITEM SEPARATOR
	MENUITEM "&Technical Support", IDM_H_TECHSUP
	MENUITEM SEPARATOR
	MENUITEM "&About PIF Editor...", IDM_H_ABOUT
    END
END

IDD_FRAME DIALOG 0, 0, 250, 175
STYLE DS_LOCALEDIT | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_SIZEBOX 
MENU MenuApp
FONT 8, "MS Sans Serif"
BEGIN

; New scheme that include all panes in the main dialog (subject to change)

; General
    LTEXT	    "&Program Filename:", IDT_FILENAME, 6, 4, 61, 8,
			NOT WS_GROUP
    EDITTEXT	    IDE_FILENAME, 88, 2, 156, 12, ES_AUTOHSCROLL

    LTEXT	    "Window &Title:", IDT_TITLE, 6, 19, 46, 8, NOT WS_GROUP
    EDITTEXT	    IDE_TITLE, 88, 17, 135, 12, ES_AUTOHSCROLL

    LTEXT	    "&Optional Parameters:", IDT_PARAMS, 6, 34, 69, 8,
			NOT WS_GROUP
    EDITTEXT	    IDE_PARAMS, 88, 32, 156, 12, ES_AUTOHSCROLL

    LTEXT	    "&Start-up Directory:", IDT_DIRECTORY, 6, 49, 61, 8,
			NOT WS_GROUP
    EDITTEXT	    IDE_DIRECTORY, 88, 47, 156, 12, ES_AUTOHSCROLL

    LTEXT	    "&Video Memory:", IDT_VIDMEM, 6, 66, 89, 8, NOT WS_GROUP

    CONTROL	    "Text", IDB_TEXT, "Button",
		    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 71, 64, 27, 10
    CONTROL	    "Low Graphics", IDB_LOW, "Button",
		    BS_AUTORADIOBUTTON | WS_TABSTOP, 114, 64, 57, 10
    CONTROL	    "High Graphics", IDB_HIGH, "Button",
		    BS_AUTORADIOBUTTON | WS_TABSTOP, 179, 64, 59, 10

    LTEXT	    "Memory Requirements:", IDT_DOSMEM, 6, 80, 119, 8, NOT WS_GROUP

    LTEXT	    "KB &Required", IDT_DOSMIN, 95, 80, 46, 8, NOT WS_GROUP
    EDITTEXT	    IDE_DOSMIN, 150, 78, 19, 12, ES_AUTOHSCROLL | WS_GROUP

    LTEXT	    "KB &Desired", IDT_DOSMAX, 180, 80, 46, 8, NOT WS_GROUP
    EDITTEXT	    IDE_DOSMAX, 220, 78, 19, 12, ES_AUTOHSCROLL | WS_GROUP

    LTEXT	    "EMS Memory:", IDT_EMSMEM, 6, 95, 49, 8, NOT WS_GROUP

    LTEXT	    "KB &Required", IDT_EMSMIN, 61, 95, 43, 8, NOT WS_GROUP
    EDITTEXT	    IDE_EMSMIN, 108, 93, 26, 12, ES_AUTOHSCROLL | WS_GROUP

    LTEXT	    "KB &Limit", IDT_EMSMAX, 143, 95, 46, 8, NOT WS_GROUP
    EDITTEXT	    IDE_EMSMAX, 180, 93, 29, 12, ES_AUTOHSCROLL | WS_GROUP

    LTEXT	    "XMS Memory:", IDT_XMSMEM, 6, 112, 49, 8, NOT WS_GROUP

    LTEXT	    "KB Re&quired", IDT_XMSMIN, 61, 112, 43, 8, NOT WS_GROUP
    EDITTEXT	    IDE_XMSMIN, 108, 108, 26, 12,
		    ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP

    LTEXT	    "KB L&imit", IDT_XMSMAX, 143, 112, 46, 8, NOT WS_GROUP
    EDITTEXT	    IDE_XMSMAX, 180, 108, 29, 12,
		    ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP

    LTEXT    "Display Usage:", IDG_DISPLAY, 6, 121, 63, 37,
			NOT WS_TABSTOP

    CONTROL	    "F&ull Screen", IDB_FULLSCREEN, "Button",
		    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 68, 121, 50, 10
    CONTROL	    "&Windowed", IDB_WINDOWED, "Button",
		    BS_AUTORADIOBUTTON | WS_TABSTOP, 68, 134, 47, 10

    LTEXT	"Execution", IDG_EXEC, 135, 121, 83, 37, NOT WS_TABSTOP

    CONTROL	    "&Background", IDB_BACKEXEC, "Button",
		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 173, 121, 52, 10
    CONTROL	    "&Exclusive", IDB_EXCLEXEC, "Button",
		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 173, 134, 44, 10

    CONTROL	    "&Close Window on exit", IDB_CLOSEEXIT, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 6, 145, 83, 10

	PUSHBUTTON "&Advanced...",  IDB_ADVANCED, 120, 140, 45, 15

	CONTROL    "", IDD_HELP, "EDIT", 0/*ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL */, 10, 100, 240, 8 

END

; Advanced dialog box

IDD_ADVFRAME DIALOG 0, 0, 275, 210
STYLE /*DS_LOCALEDIT |*/ WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU 
FONT 8, "MS Sans Serif"
BEGIN

	PUSHBUTTON "OK", IDOK, 230, 6, 32, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 230, 25, 32, 14, WS_TABSTOP

    GROUPBOX	"Multitasking Options", IDG_PRIORITY, 5, 4, 220, 37, NOT WS_TABSTOP

    LTEXT	"&Background Priority:", IDT_BACKPRIO, 11, 16, 67, 8,
			NOT WS_GROUP
    EDITTEXT	IDE_BACKPRIO, 86, 14, 29, 12, ES_AUTOHSCROLL | WS_GROUP

    LTEXT	"&Foreground Priority:", IDT_FOREPRIO, 123, 16, 65, 8,
			NOT WS_GROUP
    EDITTEXT	    IDE_FOREPRIO, 190, 14, 29, 12, ES_AUTOHSCROLL | WS_GROUP

    CONTROL	    "&Detect Idle Time", IDB_DETECTIDLE, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 102, 28, 67, 10

    GROUPBOX	"Memory Options", IDG_MEMOPTS,
		    5, 42, 260, 41, NOT WS_TABSTOP

    CONTROL	    "EMX Memory Loc&ked", IDB_EMSLOCK, "Button",
		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 25, 56, 95, 10

    CONTROL	    "XMS Memory L&ocked", IDB_XMSLOCK, "Button",
		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 127, 56, 95, 10

    CONTROL	    "Uses &High Memory Area", IDB_XMSHMA, "Button",
		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 25, 68, 95, 10

    CONTROL	    "Lock Applicatio&n Memory", IDB_DOSLOCK, "Button",
  		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 127, 68, 95, 10



    GROUPBOX	"Display Options", IDG_VIDEOMEM, 5, 83, 260, 38,
			NOT WS_TABSTOP

    LTEXT	    "Monitor Por&ts:", IDT_MONITOR, 11, 95, 89, 8, NOT WS_GROUP

    CONTROL	    "Text", IDB_MONTEXT, "Button", BS_AUTOCHECKBOX |
		    WS_GROUP | WS_TABSTOP, 91, 95, 27, 10
    CONTROL	    "Low Graphics", IDB_MONLOW, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 124, 95, 57, 10
    CONTROL	    "High Graphics", IDB_MONHIGH, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 189, 95, 59, 10

    CONTROL	    "&Emulate Text Mode", IDB_EMULATE, "Button",
		    BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 34, 106, 75, 10
    CONTROL	    "Retain Video &Memory", IDB_RETAIN, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 127, 106, 82, 10



    GROUPBOX	"Other Options", IDG_OTHER, 5, 122, 260, 70, NOT WS_TABSTOP

    CONTROL	    "Allow Fast &Paste", IDB_FASTPASTE, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 21, 134, 64, 10
    CONTROL	    "Allow &Close When Active", IDB_ALLOWCLOSE, "Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP, 127, 134, 91, 10

    LTEXT	    "Reserve &Shortcut Keys:", IDT_RESERVE, 11, 148, 89, 8, NOT WS_GROUP


    CONTROL	    "Alt-Tab", IDB_ALTTAB, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 93, 148, 36, 10
    CONTROL	    "PrtSc", IDB_PRTSC, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 93, 158, 31, 10
    CONTROL	    "Alt-Enter", IDB_ALTENTER, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 93, 168, 41, 10
    CONTROL	    "Alt-Esc", IDB_ALTESC, "Button", BS_AUTOCHECKBOX |

		    WS_TABSTOP, 133, 148, 36, 10
    CONTROL	    "Alt-PrtSc", IDB_ALTPRTSC, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 133, 158, 42, 10

    CONTROL	    "Ctrl-Esc", IDB_CTRLESC, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 173, 148, 39, 10
    CONTROL	    "Alt-Space", IDB_ALTSPACE, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 173, 158, 44, 10

    LTEXT	    "&Application Shortcut Key:", IDT_SHORTCUT, 11, 178, 89, 8, NOT WS_GROUP

    CONTROL	    "Alt", IDB_ALT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
		    100, 178, 22, 10
    CONTROL	    "Ctrl", IDB_CTRL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
		    126, 178, 24, 10
    CONTROL	    "Shift", IDB_SHIFT, "Button", BS_AUTOCHECKBOX |
		    WS_TABSTOP, 156, 178, 28, 10
    LTEXT	    "Key:", IDT_KEY, 190, 179, 16, 8, NOT WS_GROUP
    EDITTEXT	    IDE_KEY, 212, 177, 36, 12, ES_AUTOHSCROLL
END


IDD_STANDARD DIALOG 20, 20, 183, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "Helv"
CAPTION "PIF Editor"
BEGIN
	CONTROL "Windows is not running in standard mode. The", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 17, 128, 8
	CONTROL "PIF information you enter may not be", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 26, 121, 8
	CONTROL "appropriate. Are you sure you want to switch to", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 35, 129, 8
	ICON 32515, 971, 13, 19, 18, 20
	CONTROL "this mode?", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 44, 127, 8
;	CONTROL "available while you remain in", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 53, 127, 8
;	CONTROL "Standard mode.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 62, 127, 8

	PUSHBUTTON "OK", IDOK, 76, 115, 32, 14, WS_TABSTOP
;	CONTROL "&Don't display this message in the future.", IDB_EXPERT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 83, 143, 14
END


STRINGTABLE PRELOAD MOVEABLE DISCARDABLE
BEGIN
    IDS_APPNAME, APPNAME
    IDS_APPTITLE, APPTITLE
    IDS_APPTITLETHE, APPTITLETHE

    1, "No help available for this control\0"

    IDE_DOSMIN, "KB Minimum"
    IDE_DOSMAX, "KB Desired"
    IDE_EMSMIN, "EMS Minimum"
    IDE_EMSMAX, "EMS Limit"
    IDE_XMSMIN, "XMS Minimum"
    IDE_XMSMAX, "XMS Limit"

    IDE_BACKPRIO,	"Background Priority"
    IDE_FOREPRIO,	"Foreground Priority"

    IDS_FILEMASK,	"PIF Files(*.PIF)\n*.pif\n"

    IDS_REGISTER_CLASS, "Register class failed"
    IDS_REALMODE,	"QPIFEDIT requires Windows 3.x running in Standard or 386 Enhanced mode"
    IDS_MODE286,	"QPIFEDIT doesn't support the editting of Standard mode .PIFs"
    IDS_SAVECHANGES,	"Save changes to %s?"
    IDS_UNTITLED,	"(Untitled)"

    IDS_CANTOPEN,	"Can't open %s"
    IDS_NOTVALIDPIF,	"%s is not a valid .PIF file"
    IDS_TOOBIG, 	"File is too big to be a valid .PIF"
    IDS_OLDPIF, 	"This is an old Windows PIF"
    IDS_BADCHECKSUM,	".PIF internal structure appears to be damaged"
    IDS_NOTVALIDQPE,	"The Qualitas PIF Extension file, %s, associated with %s is invalid"

    IDS_BADNUM, "'%s' value must be between %d and %d"
    IDS_BADNUM2,	"'%s' value must be -1, or between %d and %d"

    IDS_FILENAMEREQ,	"The required program filename is required."
    IDS_BADFILENAME,	"Invalid filename. \n\r\rCheck to ensure the filename has no more than 8 characters followed by a period and a 3-letter extension.  Press OK to ignore this warning."

    IDS_COMMDLGERR,	"Problem using COMMDLG.DLL for OPEN or SAVE"
    IDS_OUTOFMEMORY,	"Out of memory"
    IDS_OUTOFMEMORY2,	"Out of memory"
    IDS_OUTOFMEMORY3,	"Out of memory"
    IDS_NOWIN95,	"QPIFEDIT is not compatible with Windows 95.  To edit PIF values in Win95, right click on the icon and edit the Property sheets."
END

