#include <user.h>

STRINGTABLE DISCARDABLE 
{
	IDS_WINDOWS,						"Windows"
	IDS_COLORS,						"Colors"
	IDS_PATTERN,						"Pattern"
	IDS_FONTS,						"Fonts"
	IDS_CURSORBLINKRATE,					"CursorBlinkRate"
	IDS_SWAPMOUSEBUTTONS,					"SwapMouseButtons"
	IDS_DOUBLECLICKSPEED,					"DoubleClickSpeed"
	IDS_TYPEAHEAD,						"TypeAhead"
	IDS_GRIDGRANULARITY,					"GridGranularity"
	IDS_BEEP,						"Beep"
        IDS_BORDER,                                             "BorderWidth"
	IDS_DEFAULTQUEUESIZE,					"DefaultQueueSize"
	IDS_SYSTEMERROR,					"System Error"
	IDS_DIVIDEBYZERO,					"Divide By Zero or Overflow Error"
	IDS_UNTITLED,						"Untitled"
	IDS_ERROR,						"Error"
	IDS_DESKTOP,						"Desktop"
	IDS_OK,							"Ok"
	IDS_CANCEL,						"Cancel"
	IDS_ABORT,						"&Abort"
	IDS_RETRY,						"&Retry"
	IDS_IGNORE,						"&Ignore"
	IDS_YES,						"&Yes"
	IDS_NO,							"&No"
	IDS_AM,							"am"
	IDS_PM,							"pm"
	IDS_MENUSHOWDELAY,					"MenuShowDelay"
	IDS_MENUHIDEDELAY,					"MenuHideDelay"
	IDS_DOUBLECLICKWIDTH,					"DoubleClickWidth"
	IDS_DOUBLECLICKHEIGHT,					"DoubleClickHeight"
	IDS_MENUDROPALIGNMENT,					"MenuDropAlignment"
	IDS_DRAGFULLWINDOWS,					"DragFullWindows"
	IDS_COOLSWITCH,						"CoolSwitch"
}

OCR_ARROW CURSOR FIXED "res/idcarrow.cur"
OCR_IBEAM CURSOR FIXED "res/idcibeam.cur"
OCR_WAIT CURSOR FIXED "res/idcwait.cur"
OCR_CROSS CURSOR FIXED "res/idccross.cur"
OCR_UPARROW CURSOR FIXED "res/idcuparr.cur"
OCR_SIZE CURSOR FIXED "res/idcsize.cur"
OCR_ICON CURSOR FIXED "res/idcicon.cur"
OCR_SIZENWSE CURSOR FIXED "res/idcsznw.cur"
OCR_SIZENESW CURSOR FIXED "res/idcszne.cur"
OCR_SIZEWE CURSOR FIXED "res/idcszwe.cur"
OCR_SIZENS CURSOR FIXED "res/idcszns.cur"
OCR_SIZEALL CURSOR FIXED "res/idcsize.cur"
OCR_NO CURSOR FIXED "res/idcno.cur"
OCR_APPSTARTING CURSOR FIXED "res/idcappst.cur"
OCR_HELP CURSOR FIXED "res/idchelp.cur"
"DRAGCURSOR" CURSOR FIXED "res/idcdrag.cur"
"NULLCURSOR" CURSOR FIXED "res/idcnull.cur"

IDM_SYSMENU MENU
BEGIN
    POPUP " "
    BEGIN
        MENUITEM "&Restore"	SC_RESTORE
        MENUITEM "&Move"	SC_MOVE
        MENUITEM "&Size"	SC_SIZE
        MENUITEM "Mi&nimize"	SC_MINIMIZE
        MENUITEM "Ma&ximize"	SC_MAXIMIZE
        MENUITEM SEPARATOR
        MENUITEM "&Close\tAlt+F4"	SC_CLOSE
        MENUITEM ""	0
        MENUITEM "S&witch To...\tCtrl+Esc"	SC_TASKLIST
    END
END
